html {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


body {
  background: linear-gradient(to bottom right, #23395B, #23395B, #243E66);
}


#log-in-form,
#sign-up-form {
  height: 435px;
  width: 385px;
  background-color: rgba(0, 0, 0, 0.13);
}


#log-in-form.login-form,
#sign-up-form.login-form {
  padding: 11px 11px 11px 11px;
}



.login-input-addon,
.login-input-field {
  background-color: rgba(26, 42, 68, 0.92);
  border-style: hidden;
  border-radius: 0px;
  color: #EDEEEE;
  font-size: 17px;
  transition: background-color 250ms linear, color 250ms linear;
}


.login-input-field:focus,
.login-input-field:focus:hover {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

  color: black;
  background-color: rgba(255, 255, 255, 0.2);
}

.login-input-field:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.login-btn {
  height: 40px;
  background-color: #D15130;

  border-color: #B33616;
  border-radius: 0px;
  border-width: thin;
  border-style: solid;

  color: #B33616;
  font-weight: bold;
  font-size: 20px;

  width: 95%;

  transition: background-color 250ms linear;
}


.login-btn:focus,
.login-btn:hover,
.login-btn:focus:hover {
  background-color: #CF694E;
}
