html {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


body {
  background: linear-gradient(to bottom right, #23395B, #23395B, #243E66);
}


#log-in-form,
#sign-up-form {
  height: 435px;
  width: 385px;
  background-color: rgba(0, 0, 0, 0.13);
}


#log-in-form.login-form {
  padding: 11px 11px 11px 11px;
}

.login-form > .input-group {
  line-height: 18px;
  font-size: 17px;
}
