@font-face {
  font-family: "Ubuntu-Regular";
  src: url(../fonts/Ubuntu-Regular.ttf);
}

*:not(.glyphicon):not(.fa) {
  font-family: Ubuntu-Regular;
}

body {
  background-color: #DFDFD0;
}

.h-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Spacers*/

.v-spacer-before-05 {
  margin-top: 0.5cm;
}

.v-spacer-before-1 {
  margin-top: 1cm;
}

.v-spacer-before-2 {
  margin-top: 2cm;
}

.v-spacer-before-3 {
  margin-top: 3cm;
}

.v-spacer-after-1 {
  margin-bottom: 1cm;
}

.v-spacer-after-2 {
  margin-bottom: 2cm;
}

.v-spacer-after-3 {
  margin-bottom: 3cm;
}

/*End of Spacers*/

/*Custom Scrollbar Definition*/
.custom-scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 9px;
	background-color: #F5F5F5;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
/*End of Custom Scrollbar Definition*/
